In [ ]:
import json
import mysql.connector

import pandas as pd

# Load the JSON file into a pandas DataFrame
df = pd.read_json('twitter', lines=True)

In [ ]:
import mysql.connector

# create a connection to the MySQL server
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Nkiranreddy@4"
)

# create a new database
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE twitter_dataset")

In [ ]:
import mysql.connector

# create a connection to the MySQL database
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Nkiranreddy@4",
    database="twitter_dataset"
)

# create a cursor to execute SQL commands
mycursor = mydb.cursor()

table_schema = """
CREATE TABLE user (
    id INT(11) NOT NULL AUTO_INCREMENT,
    id_str VARCHAR(255) NOT NULL,
    name VARCHAR(255) NOT NULL,
    screen_name VARCHAR(255) NOT NULL,
    location VARCHAR(255),
    description TEXT,
    protected BOOLEAN,
    verified BOOLEAN,
    followers_count INT(11) NOT NULL,
    friends_count INT(11) NOT NULL,
    favourites_count INT(11) NOT NULL,
    statuses_count INT(11) NOT NULL,
    created_at TIMESTAMP NOT NULL,
    profile_background_image_url TEXT,
    PRIMARY KEY (id)
);
"""


# create the table
mycursor.execute(table_schema)

In [2]:
cursor = conn.cursor()
# Create a table for users
cursor.execute('''CREATE TABLE user
             (id INTEGER PRIMARY KEY,
             user_id INTEGER,
             user_id_str VARCHAR(255),
             screen_name VARCHAR(255),
             location VARCHAR(255),
             description TEXT,
             protected VARCHAR(10),
             verified VARCHAR(10),
             followers_count INTEGER,
             friends_count INTEGER,
             favourites_count INTEGER,
             statuses_count INTEGER,
             created_at VARCHAR(255),
             media_url VARCHAR(255))''')

# a table for tweets
cursor.execute('''CREATE TABLE tweet
             (id INTEGER PRIMARY KEY,
             tweet_id INTEGER,
             tweet_id_str VARCHAR(255),
             user_id INTEGER,
             in_reply_to_status_id INTEGER,
             in_reply_to_status_id_str VARCHAR(255),
             in_reply_to_user_id INTEGER,
             in_reply_to_user_id_str VARCHAR(255),
             in_reply_to_screen_name VARCHAR(255),
             reply_count INTEGER,
             retweet_count INTEGER,
             favorite_count INTEGER,
             retweeted VARCHAR(10),
             filter_level VARCHAR(10),
             possible_sensitivity VARCHAR(10),
             FOREIGN KEY (user_id) REFERENCES user(id))''')
#a table for retweets
cursor.execute('''CREATE TABLE retweet
             (id BINARY(16) PRIMARY KEY,
             user_id INTEGER,
             tweet_id INTEGER,
             retweet_id INTEGER,
             retweet_id_str VARCHAR(255),
             in_reply_to_status_id INTEGER,
             in_reply_to_status_id_str VARCHAR(255),
             in_reply_to_user_id INTEGER,
             in_reply_to_user_id_str VARCHAR(255),
             in_reply_to_screen_name VARCHAR(255),
             FOREIGN KEY (user_id) REFERENCES user(id),
             FOREIGN KEY (tweet_id) REFERENCES tweet(id))''')
#a tablr for hastags
cursor.execute('''CREATE TABLE hashtag 
             (id INT PRIMARY KEY,
             name VARCHAR(50))''')
#a table for composite key
# PRIMARY KEY (tweet_id, hashtag_id),
cursor.execute('''CREATE TABLE tweet_hashtags 
             (tweet_id INT,
              hashtag_id INT,
              FOREIGN KEY (tweet_id) REFERENCES tweets(id),
              FOREIGN KEY (hashtag_id) REFERENCES hashtags(id))''');

In [6]:
import json
import mysql.connector
from datetime import datetime

# establish connection to MySQL database
cnx = mysql.connector.connect(user='root', password='Nkiranreddy@4',
                              host='localhost', database='twitter_dataset')
cursor = cnx.cursor()

# open the JSON file and read it line by line
with open('corona-out-3', 'r') as f:
    for line in f:
        data = json.loads(line)
        user_data = data['user']
        # extract the necessary fields from the user_data object
        id = user_data['id']
        id_str = user_data['id_str']
        name = user_data['name']
        screen_name = user_data['screen_name']
        location = user_data['location']
        description = user_data['description']
        protected = user_data['protected']
        verified = user_data['verified']
        followers_count = user_data['followers_count']
        friends_count = user_data['friends_count']
        favourites_count = user_data['favourites_count']
        statuses_count = user_data['statuses_count']
        created_at_str = user_data['created_at']
        created_at = datetime.strptime(created_at_str, '%a %b %d %H:%M:%S +0000 %Y').strftime('%Y-%m-%d %H:%M:%S')
        profile_background_image_url = user_data['profile_background_image_url']

        # insert the data into the MySQL table
        insert_query = """
            INSERT INTO user 
            (id, id_str, name, screen_name, location, description, protected, verified, 
            followers_count, friends_count, favourites_count, statuses_count, created_at, 
            profile_background_image_url) 
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        insert_data = (id, id_str, name, screen_name, location, description, protected, 
                       verified, followers_count, friends_count, favourites_count, 
                       statuses_count, created_at, profile_background_image_url)
        cursor.execute(insert_query, insert_data)
        cnx.commit()

# close the database connection
cursor.close()
cnx.close()

IntegrityError: 1062 (23000): Duplicate entry '804046791348015107' for key 'user.PRIMARY'